/* styles.css */



div {
    color: violet;
}

li {
    color: pink;
}

a {
    color: pink;
    background-color: black;
}

.button-link {
    display : inline-block;
    padding : 10px 20px;
    background-color : black;
    color : pink;
    border-radius : 4px;
    border : 2px solid pink;
}